In [ ]:
import pandas as pd

In [25]:
df = pd.read_csv('data.csv')
data = df.dropna(axis=0, how='any')

In [44]:
# data['Business Days'] = data['Business Days'].str.split('\n')
data['Business Days'] = data['Business Days'].apply(lambda x: x.split('\n') if isinstance(x, str) else x)
data['Business Days'] = data['Business Days'].apply(lambda arr: [city.replace("New York (NYSE)", "New York") for city in arr])
data['Cut-off Time'] = data['Cut-off Time'].apply(lambda value: value.str.extract(r'(\d+)').astype(int) if isinstance(value, str) else None)
data['Cut-off Time']

/var/folders/mj/lrqwpkkd7910dntk_4fw_bqm0000gp/T/ipykernel_33194/4260633815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Business Days'] = data['Business Days'].apply(lambda x: x.split('\n') if isinstance(x, str) else x)
/var/folders/mj/lrqwpkkd7910dntk_4fw_bqm0000gp/T/ipykernel_33194/4260633815.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Business Days'] = data['Business Days'].apply(lambda arr: [city.replace("New York (NYSE)", "New York") for city in arr])

AttributeError: 'str' object has no attribute 'str'